In [69]:
import plotly.express as px
from plotly.subplots import make_subplots as subplt
import plotly.graph_objs as go
from pathlib import Path
import pandas as pd
import matplotlib
import os

In [70]:
tsxpath = Path('../../02-Data/Clean Data/Market Data/SPTSX60_5yr_cln.csv')
cadpath = Path('../../02-Data/Clean Data/Market Data/CAD_5yr_cln.csv')
covidpath = Path('../../02-Data/Clean Data/Covid/Cases_day.csv')

In [71]:
tsx_df = pd.read_csv(tsxpath, index_col='Date')
cad_df = pd.read_csv(cadpath, index_col='Date')
covid_df = pd.read_csv(covidpath, index_col='Date')

In [72]:
tsx_df.head()

             Price
Date
2020-10-30  928.90
2020-10-29  934.83
2020-10-28  930.90
2020-10-27  954.81
2020-10-26  959.91

In [73]:
cad_df.head()

             Close
Date
2015-11-02  0.7632
2015-11-03  0.7652
2015-11-04  0.7601
2015-11-05  0.7591
2015-11-06  0.7515

In [74]:
covid_df.head()

            New Cases
Date
2020-01-01          2
2020-01-10          1
2020-01-16          1
2020-01-21          1
2020-01-22          1

In [77]:
tsxfig = go.Scatter(tsx_df, y='Price', title="demo figure")
# tsxfig.show()

ValueError: The first argument to the plotly.graph_objs.Scatter
constructor must be a dict or
an instance of :class:`plotly.graph_objs.Scatter`

In [63]:
cadfig = px.line(cad_df, y='Close', title="demo figure")
# cadfig.show()

In [64]:
covidfig = px.line(covid_df, y='New Cases', title="demo figure")
# covidfig.show()

In [68]:
combo_fig = subplt(specs=[[{"secondary_y": True}]])
combo_fig.add_trace(px.line(tsx_df, y='Price')
combo_fig.add_trace(px.line(cad_df, y='Close')
combo_fig.add_trace(covidfig, secondary_y=True)
combo_fig['layout'].update(height = 600, width = 800, title = title,xaxis=dict(
      tickangle=-90
    ))
iplot(combofig)

SyntaxError: invalid syntax (<ipython-input-68-d84a273ed6e5>, line 3)